html {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url('background.png');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

#content-container {
    margin-top: 10vh;
    max-width: fit-content;
    margin-left: 10vw;
    margin-right: 10vw;
}

th, td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    display: inline;
    border-collapse: collapse;
}

#table-gov-info {
    width: fit-content;
    margin: auto;
}

code {
    font-size: larger;
    color: green;
}