html {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

h3 {
    text-decoration: none;
}

body {
    margin: 0px;
}

#launch-image {
    background-image: url('../launch.png');

}
.h2-top-bar {
    font-size: 34px;
}

.octolamp {
    background-image: linear-gradient(to bottom right, #BF368D, #6356D6, #6BEDC2);
    width: fit-content;
    color: transparent;
    background-clip: text;
}

.a-top-bar {
    font-weight: normal;
    color: #222222;
    text-decoration: none;
}

.a-top-bar:hover {
    font-weight: normal;
    color: #222222;
    text-decoration: underline;
}

#top-bar {
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: fit-content;
    width: 90vw;
    border-bottom: 1px solid #D1D1D1;
    padding-left: 10vw;
    background-color: #FFFFFF;
}

#top-links-other {
    display: flex;
    align-items: center;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}
.top-bar-link {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    display: inline;
    margin-right: 2dvw;
}

#home-title {
    font-size: 120px;
    width: fit-content;
}

#title-container {
    margin-top: 30vh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#map-launch {
    padding-left: 25px;
    padding-right: 25px;
    height: fit-content;
    font-size: 30px;
    background-color: #AEE1E8;
    border: 1px solid #222222;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    transition: all 0.2s;
}

#map-launch:hover {
    background-color: #80c0c9;
}

#content-container {
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

th, td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    display: inline;
    border-collapse: collapse;
    margin-right: 2%;
}

#table-gov-info {
    width: fit-content;
    margin: auto;
    font-weight: bold;
}

code {
    font-size: larger;
    color: green;
}