#infobox {  
    position: fixed;
    top: 0vh;
    right: 0vw;
    width: 20vw;
    height: fit-content;
    border: 2px solid #AAAAAA;
    border-radius: 5px;
    margin: 2vw;
    background-color: #F8F8F8;
}

#name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: none;
    overflow: hidden;
}

#colorbar {
    background-color: #D8D8D8;
    margin: none;
    height: 1vh;
    width: 100%;
    margin-bottom: 2%;
}

#infobox-content {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#local-authority {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    margin: none;
    margin-bottom: 5vh;
    line-height: 0%;
}

#table {
    width: fit-content;
    margin: auto;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

tbody {
    font-family: Arial, Helvetica, sans-serif;
}

td {
    font-size: 14px;
}

.cell-change {
    padding-right: none;
    padding-left: 1vw;
    text-align: right;
}

.cell-standard {
    padding-left: 0.5vw;
    padding-right: 1vw;
}

.cell-color {
    width: 14px;
    height: 1px;
}

.row-winner {
    font-weight: bold;
    font-style: italic;
}