html {
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#area-switch {
    position: fixed;
    top: 60vh;
    right: 0vw;
    width: 20vw;
    height: fit-content;
    border: 2px solid #AAAAAA;
    border-radius: 5px;
    margin: 2vw;
    background-color: #F8F8F8;
}

#box {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10vw;
  background-color: #AAAAAA;
}

#infobox {  
    position: fixed;
    top: 0vh;
    right: 0vw;
    width: 20vw;
    height: fit-content;
    border: 2px solid;
    border-color: #AAAAAA;
    border-radius: 5px;
    margin: 2vw;
    background-color: #F8F8F8;
}

#only {
    top: 85vh;
}

#lad-ward-button {
    top: 90vh;
}

.right-button {
    position: fixed;
    right: 0vw;
    width: 20vw;
    height: fit-content;
    border: 2px solid #AAAAAA;
    border-radius: 5px;
    margin: 2vw;
    background-color: #F8F8F8;

}
#name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1vh;
    overflow: hidden;
}

#colorbar {
    background-color: #D8D8D8;
    margin: none;
    height: 1.2vh;
    width: 100%;
    margin-bottom: 2%;
}

#slider {
    position: fixed;
    top: 73vh;
    right: 0vw;
    width: 18vw;
    height: fit-content;
    border: 2px solid #AAAAAA;
    border-radius: 5px;
    margin: 2vw;
    padding: 1vw;
    background-color: #F8F8F8;
}

#daterange {
    width: 18vw;
}
#infobox-content {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#local-authority {
    font-size: 16px;
    margin-top: 0vh;
    margin-bottom: 2vh;
}

#result {
    font-size: 22px;
    font-weight: bold;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

}

#table {
    width: fit-content;
    margin: auto;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.slider-text {
    font-size: 18px;
    font-weight: bold;
}

#slider-year {
    margin: 0vh;
}

td {
    font-size: 14px;
}

.cell-change {
    padding-right: none;
    padding-left: 1vw;
    text-align: right;
    font-weight: bold;
}

.cell-change-positive {
    color: green;
}

.cell-change-negative {
    color: red;
}

.cell-standard {
    padding-left: 0.5vw;
    padding-right: 1vw;
}

.cell-color {
    width: 14px;
    height: 1px;
}

.row-winner {
    font-weight: bold;
    font-style: italic;
}

#hover-container {
    margin-bottom: 1vh;
    position: fixed;
    bottom: 2vh;
    left: 1vh;
    background-color: rgba(256,256,256, 0.6);
    padding-left: 1vw;
    padding-right: 2vw;
    border-radius: 1px
}

#bottom-container {
    position: fixed;
    bottom: 0vh;
    height: fit-content;
    background-color: rgba(256,256,256, 0.8);
    width: 100vw;
}

#bottom-text {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
}

.ward-disable {
    color: #AAAAAA;
}