/* BIG GENERAL THINGS */

html {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    margin-top: 0.5dvh;
    margin-bottom: 0.5dvh;
    width: fit-content;
}

label {
    font-size: 14px;
}

.sb-top-padding {
    margin-top: 1dvh;
}

th, td {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0px;
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    display: inline;
    border-collapse: collapse;
}

.sb-background {
    background-color: #F8F8F8F8;
}

.border {
    border: 2px solid #AAAAAA;
    border-radius: 5px;
}

/* SIDEBAR AND PIECES */

#sidebar {
    position: fixed;
    top: 0dvh;
    right: 0dvw;
    width: 20dvw;
    height: fit-content;
    max-height: 90%;
    overflow-x: scroll;
    overflow-y: scroll;
    padding-right: 2dvw;
    padding-top: 3dvh;
}

#config-container {
    display: flex;
    position: fixed;
    top: 20dvh;
    left: 0dvw;
    width: fit-content;
    max-height: 80dvh;
    border: 2px solid #AAAAAA;
    border-radius: 5px;
    background-color: #F8F8F8DD;
    overflow-x: hidden;
    overflow-y: scroll;
}

#config {
    transition: 0.3s ease;
    width: 15dvw;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    padding-left: 1.5dvw;
    padding-right: 1.5dvw;
    padding-top: 1.5dvh;
    padding-bottom: 4.5dvh;
}

#config.collapsed {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -15dvw;
}

#table {
    width: fit-content;
    margin: auto;
    overflow-x: scroll;
    max-width: 100%;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#toggle-btn {
    border: none;
}

@media ((max-width: 1400px) and (orientation: landscape)) {
    #sidebar {
        width: 25dvw;
    }

}
@media (max-aspect-ratio: 10/10) {  /* portrait */
    #sidebar {
        background-color: rgb(256,256,256,0.1);
        position: fixed;
        border-radius: 20px;
        top: 65dvh;
        width: 100dvw;
        height: 30dvh;
        max-height: 90%;
        padding-top: 2dvh;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        justify-content: space-between;
    }
    #infobox {
        width: 90dvw;
        height: fit-content;
        margin-left: 4dvw;
        margin-bottom: 1dvh;

    }
    #sidebar-other {
        width: 45dvw;
        margin-right: 4dvw;
        
    }
    #config {
        width: 75dvw;
        max-height: 90%;
        overflow-x: hidden;
        overflow-y: scroll;
        
        padding-left: 0px;
        padding-right: 0px;
        margin-left: -75dvw;
    }
    #config-container{
        bottom: 30dvh;
        max-height: 54dvh;
    }
    #config.collapsed {
        padding-left: 1.5dvw;
        padding-right: 1.5dvw;
        margin-left: 0;

    }   
    #infobox-content {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
    #table-chart {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #chart-container {
        display: none;
    }
    #table {
        min-width: 45%;
        max-width: 100%;
        overflow-x: scroll;
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
    }
    #hover-container {
        display: none;
    }
}

#chart {
    margin-left: auto;
    margin-right: auto;
}

#chart-container {
    min-width: 45%;
    max-width: 100%;
    margin-bottom: 1dvh;
}

form {
    font-size: 14px;
    width: 99%;
    height: fit-content;
}

#year-only {
    width: 100%;
}

#color-type {
    width: 100%;
}

#name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 1dvh;
    overflow: hidden;
}

#colorbar {
    background-color: #D8D8D8;
    margin: none;
    height: 1.2dvh;
    width: 100%;
    margin-bottom: 2%;
}

#daterange {
    width: 99%;
}

#infobox {
    margin-bottom: 1dvh;
}
#infobox-content {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

#local-authority {
    font-size: 16px;
    margin-top: 0dvh;
    margin-bottom: 2dvh;
}

#result {
    font-size: 26px;
    font-weight: bold;
    padding-left: 1dvw;
    padding-right: 1dvw;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#result-text {
    padding-top: 4px;
    height: fit-content;
}

#slider-year {
    margin-bottom: 0px;
    width: fit-content;
}

#slider-content {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

td {
    font-size: 14px;
}

.cell-change {
    padding-right: 3px;
    padding-left: 1dvw;
    text-align: right;
    font-weight: bold;
}

.cell-change-positive {
    color: green;
}

.cell-change-negative {
    color: red;
}

.cell-standard {
    padding-left: 3px;
    padding-right: 20px;
}

.cell-color {
    width: 14px;
    height: 1px;
}

.row-winner {
    font-weight: bold;
    font-style: italic;
}

#hover-container {
    margin-bottom: 1dvh;
    position: fixed;
    bottom: 2dvh;
    left: 1dvh;
    background-color: rgba(256,256,256, 0.6);
    padding-left: 1dvw;
    padding-right: 2dvw;
    border-radius: 1px
}

#bottom-container {
    position: fixed;
    bottom: 0dvh;
    height: fit-content;
    background-color: rgba(256,256,256, 0.8);
    width: 100dvw;
}

#bottom-text {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
}

.ward-disable {
    color: #AAAAAA;
}

.sb-dropdown {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#octolamp {
    position: fixed;
    /*background-image: linear-gradient(to bottom right, #BF368D, #6356D6, #6BEDC2);*/
    width: fit-content;
    margin-top: 1dvh;
    left: 50%;
    transform: translate(-50%,0%);
    color: #333333;
    background-clip: text;
    font-size: 35px;
}


#placeholder-o {
    background-image: linear-gradient(to bottom right, #BF368D, #6356D6, #6BEDC2);
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: transparent;
    background-clip: text;
    font-size: 10dvw;
}
